* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: gray;
  margin: 0;
}

/* Nav Bar */
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  background-color: lightgray;
  width: 100%;
}

nav *:hover {
  cursor: pointer;
}

#home {
  font-size: 1.8em;
  margin-left: 1em;
  margin-right: auto;
}

#hamburger div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 1em;
}

/* Header */
header {
  background-color: white;
}

h1 {
  margin: 0 auto;
  text-align: center;
}

/* Home Page */
#scenes {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

#scenes li {
  background-color: pink;
  border-radius: 3px;
  font-size: 1.5em;
  text-align: center;
  padding: 3em;
  margin: 1em auto;
  width: 80%;
}

#scenes li:nth-of-type(odd) {
  background-color: lightgray;
}

#scenes li:nth-of-type(even) {
  background-color: white;
}

#scenes li:hover {
  cursor: pointer;
  background-color: pink;
}

/* Footer */
footer {
  background-color: lightgray;
  font-size: 2em;
  text-align: center;
}
